page-location-list {
    .contineer *{
        margin: 0;
    }
    .contineer{
       
        border: 1px solid black;
       align-items: center;
        display: flex;
       
    }
.contineer div{
    border: 1px solid black;
   
}




}
