page-location-list {
<<<<<<< HEAD

    

    .location-cont * {
        margin: 0;
    }

    .location-cont {
        max-width: 90%;
        background-color: #232323;
        color: #FFF;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 15px;
    }







.LocationListAddress{
position: absolute;
top: 4vh;
right: 20px;
color:#E05C4C;
font-weight: bold;

}
.Xicon{
    
    position: absolute;
    top: 4vh;
    left: 10vw;
    font-size: 40px;
    font-weight: bold;
    
}
.header-text{
    position: absolute;
    top: 11vh;
    right: 20px;
    font-size: 14px;
=======
    .contineer *{
        margin: 0;
    }
    .contineer{
       
        border: 1px solid black;
       align-items: center;
        display: flex;
       
    }
.contineer div{
    border: 1px solid black;
   
>>>>>>> 358de62afe105b8e8f2beea7977b035c3ebe36d9
}




}
