page-location-list {

    

    .location-cont * {
        margin: 0;
    }

    .location-cont {
        max-width: 90%;
        background-color: #232323;
        color: #FFF;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 15px;
    }







.LocationListAddress{
position: absolute;
top: 4vh;
right: 20px;
color:#E05C4C;
font-weight: bold;

}
.Xicon{
    
    position: absolute;
    top: 4vh;
    left: 10vw;
    font-size: 40px;
    font-weight: bold;
    
}
.header-text{
    position: absolute;
    top: 11vh;
    right: 20px;
    font-size: 14px;
}



        
.person-items{
    position: absolute;
     top: 25vh;
     margin: 5px;
   
 }
 .item1{
     position: absolute;
     top: 1vh;
     background-color: #FBFBFB;
     border-radius: 5px;
     width: 318px;
     left: 6px;
     height: 75px; 
     
 }
 .item2{
     position: absolute;
     top: 15vh;
        background-color:#FBFBFB;
     border-radius: 5px;
     width: 318px;
     left: 6px;
     height: 75px; 
 }
 .item3{
     position: absolute;
     top: 30vh;
     background-color:#FBFBFB;
     border-radius: 5px;
     width: 318px;
     left: 6px;
     height: 75px; 
 }
 .item4{
     position: absolute;
     top: 45vh;
     background-color:#FBFBFB;
     border-radius: 5px;
     width: 318px;
     left: 6px;
     height: 75px; 
 }
 .item5{
     position: absolute;
     top:60vh;
     background-color:#FBFBFB;
     border-radius: 5px;
     width: 318px;
     left: 6px;
     height: 75px; 
 }

 .contact-icon{
    position: absolute;
    font-size: 50px;
    right: 8px;
    top: 1vh;
}
.pra-item{
    position: absolute;
    right: 16vw;
    margin: 0;
    top: 6vh;
    font-size: 14px;
}
.title-item{
    position: absolute;
    right: 16vw;
    margin: 0; 
    top: 2vh;
    color: #E05C4C;
    font-weight: bold;
    font-size: 18px;
}
}
